.body {
  margin-left: 20px;
  margin-right: 20px;
  font-family: Raleway;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 120px;
  padding-top: 60px;
  padding-bottom: 25px;
  padding-left: 20px;
}

.menu {
  display: flex;
  gap: 85px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}

.hebergements {
  position: relative;
  text-decoration: none;
  color: black;
}

.activites {
  position: relative;
  text-decoration: none;
  color: black;
}

.barrebleue {
  position: absolute;
  top: -64px;
  width: calc(100% + 60px);
  left: -35px;
  height: 3px;
  background-color: #0065FC;
  display: none;
}

.hebergements:hover .barrebleue,
.activites:hover .barrebleue {
  display: block;
}

.hebergements:hover,
.activites:hover {
  color: #0065FC;
}

.trouvez {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 5px;
  margin-top: 40px;
}

.centre {
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
}

.location {
  display: flex;
  font-weight: 800;
  font-size: 18px;
  height: 60px;
  border: solid 1px #F5F5F5;
  border-radius: 15px;
  width: max-content;
  margin-top: 25px;
}

.h2 {
  font-size: 25px;
}

.fa-location-dot {
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  height: 60px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marseille {
  max-width: 280px;
  padding: 0 15px;
  align-items: center;
  display: flex;
  font-weight: 800;
  font-size: 18px;
  border: none;
  outline: none;
}

.rechercher {
  width: 170px;
  background-color: #0065FC;
  border-radius: 0 15px 15px 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.fa-magnifying-glass {
  display: none;
}

.filtres {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  font-weight: 700;
  padding-top: 35px;
  font-size: 22px;
}

.economique,
.famillial,
.romantique,
.animaux {
  display: flex;
  align-items: center;
  border: solid 2px #EEE;
  border-radius: 31px;
  position: relative;
  height: 54px;
  transition: transform 0.5s;
  text-decoration: none;
  color: black;
}

.fa-dog,
.fa-child,
.fa-heart,
.fa-money-bill-wave {
  height: 58px;
  width: 58px;
  background-color: #DEEBFF;
  border-radius: 50%;
  color: #0065FC;
  font-size: 22px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -2px;
}

.economique:hover,
.famillial:hover,
.romantique:hover,
.animaux:hover {
  transform: scale(1.1);
}

.text {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: 700;
  margin-left: 58px;
}

.information {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 30px;
}

.fa-info {
  border: 1px solid #eee;
  border-radius: 11px;
  width: 22px;
  height: 22px;
  color: #0065FC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logement {
  font-size: 19px;
  padding-left: 15px;
}

.bordureune {
  margin-top: 40px;
  width: 80%;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.titreun {
  padding-left: 50px;
  font-weight: 700;
  font-size: 28px;
}

.column {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 34px;
  padding: 0 30px;
}

.hotelun {
  width: calc(100% / 2 - 228px);
  background-color: white;
  border-radius: 16px;
  box-shadow: 3px 3px 20px 0px #C7C7C7;
  transition: transform 0.7s;
}

.imghotelun {
  width: calc(100% - 17px);
  height: 120px;
  border-radius: 16px 16px 0 0;
  padding-left: 8px;
  padding-top: 7px;
  object-fit: cover;
}

.hotelun:hover,
.hoteldeux:hover {
  transform: scale(1.10);
}

.starune {
  font-size: 12px;
  margin-bottom: 15px;
}

.etoilebleu {
  color: #0065FC;
}

.etoilegrise {
  color: #dbdbdb
}

.hotel {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.nuit {
  font-size: 14px;
  margin: 5px 0 5px 0;
  margin-top: 0px;
}

.paddingtrois {
  padding-left: 15px;
}

.afficher {
  padding-left: 47px;
  padding-top: 50px;
  font-weight: 700;
  font-size: 19px;
}

.borduredeux {
  margin-top: 40px;
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.bordures {
  display: flex;
  gap: 22px;
}

.titredeux {
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.columndeux {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hoteldeux {
  background-color: white;
  border-radius: 16px;
  display: flex;
  box-shadow: 3px 3px 20px 0px #C7C7C7;
  transition: transform 0.7s;
  height: 200px;
  position: relative;
}

.imghoteldeux {
  object-fit: cover;
  border-radius: 16px 0 0 16px;
  padding: 7px 8px;
  width: 40%;
}

.hoteltrois {
  font-weight: 700;
  font-size: 19px;
  margin: 0px;
}

.widthhoteldeux {
  width: 100%;
  display: flex;
}

.paddingquatre {
  padding: 15px 20px 0;
}

.nuitdeux {
  padding-top: 10px;
  margin: 0px;
  font-size: 14px;
}

.stardeux {
  margin-top: 15px;
  font-size: 12px;
  position: absolute;
  display: flex;
  bottom: 0px;
}

.titretrois {
  font-weight: 700;
  font-size: 28px;
  padding-top: 20px;
}

.activitesdeux {
  display: flex;
  gap: 50px;
  height: 500px;
}

.widthactivites {
  width: 25%;
}

.borderradius {
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 3px 3px 20px 0px #C7C7C7;
}

.vieuxport {
  font-size: 20px;
  font-weight: 700;
  margin: auto 20px;
}

.imgvieuxport,
.imgpomegues {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 55px)
}

.grandelement {
  height: calc(60% - 25px);
}

.petitelement {
  height: calc(40% - 25px);
}

.gapelement {
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.lienimage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  width: calc(100% - 75px);
  height: 250px;
  background-color: #f2f2f2;
  margin-top: 50px;
  font-family: Raleway;
  display: flex;
  justify-content: space-between;
  padding-left: 75px;
}

.titrequatre {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;

}

.footerun {
  width: 33%;
  justify-content: center;
  align-items: center;
}

.txt {
  font-weight: 500;
  white-space: nowrap;
}

.none {
  text-decoration: none;
  color: black;
}

/*mobile version$*/
@media screen and (max-width: 768px) {

  body {
    
  }
  .header {
      flex-direction: column;
      text-align: center;
      display: flex;
  }
  .menu {
      justify-content: space-around;
      gap: 0;
  }
  .barrebleue {
      width: 100%;
      left: 0;
      top: 30px;
  }
  .hebergements,
  .activites {
      width: 50%
  }
  .rechercher {
      display: none;
  }
  .fa-magnifying-glass {
      display: flex;
      width: 60px;
      background-color: #0065FC;
      border-radius: 15px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
  }
  .location {
      max-width: 100%;
  }
  .marseille {
      width: calc(100% - 70px - 60px)
  }
  .vieuxport {
      padding: 10px 0;
  }
  .bordures {
      flex-direction: column-reverse;
      flex-wrap: wrap;
      gap: 0;
  }
  .borduredeux {
      width: 100%;
      border-radius: none;

  }
  .bordureune {
      background-color: white;
      width: 100%;
      margin-top: 0;
  }
  .column {
      flex-direction: column;
  }
  .hotelun {
      width: 100%;
  }
  .activitesdeux {
      flex-direction: column;
      width: 100%;
      height: initial;
  }
  .paddingquatre {
      padding: 5px;
  }
  .widthactivites {
      width: 100%;
  }
  .imgwidth {
      height: 150px;
  }
  .footer {
      flex-direction: column;
      width: 100%;
      height: auto;
      padding-left: 20px;
      text-align: left;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .bordures {
      display: block;
  }
  .bordureune {
      width: 100%;
  }
  .titreun {
      padding-top: 20px;
  }
  .borduredeux {
      width: 50%;
      border-radius: none;
  }
  .activitesdeux {
      flex-wrap: wrap;
      height: initial;
  }
  .afficher {
      padding-bottom: 20px;
  }
  .widthactivites {
      width: calc(50% - 25px);
  }
  .calanquesorder {
      order: 1;
  }
}

@media screen and (min-width: 992px) and (max-width: 1472px) {
  .body {
      margin: 30px;
  }
  .bordures {
      gap: 21px;
  }
  .bordureune {
      width: 70%;
      grid-template-columns: 1fr 1fr 1fr;
  }
  .borduredeux {
      width: 30%;
  }
  .hotelun {
    width: calc(100% / 2 - 177px);
  }
  .column {
      padding: 0 10px;
  }
  .columndeux {
      padding: 0 10px;
  }
}
